<launch>
  <arg name="bag" default="true" doc="Enable/Disable bagging of select topics (default: true)" />
  <arg name="teleop" default="false" doc="Enable command line teleoperation" />
  
  <!-- launch gazebo world -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
  
  <!-- include walker node -->
  <node name="walker" pkg="wandering_turtlebot" type="wandering_turtlebot" />

  <!-- (optionally) launch teleoperation -->
  <include if="$(arg teleop)" file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />

  <!-- (optionally) bag select topics -->
  <node if="$(arg bag)" name="recorder" pkg="rosbag" type="record" args="-j --exclude '/camera/*'" />

</launch>
